# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Amazing Numbers/*
!/Amazing Numbers/task/
/Amazing Numbers/task/*
!/Amazing Numbers/task/src/
!/Amazing Numbers/task/build.gradle
!/Amazing Numbers/task/build.gradle.kts

# Project exclude paths
/Topics/Processing strings/Cutting out the middle of a string/out/
/Topics/Processing strings/Cutting out the middle of a string/out/production/classes/